<h4>
    <strong>MISLE Case#: </strong>
    <%= obj["CaseID"] %>
</h4>             
<p>
    <strong>DTG: </strong>
    <%= obj["1stNotificationDate/Time"] %>

</p>

    <p>
        <strong>Case Type: </strong><%= obj["Incident_Subtype"] %><br/>
        <strong>Case Title: </strong><%= obj["Case_Title"] %><br/>
        <strong>Notification Method: </strong><%= obj["Notification_Type"] %>
</p>



